body{
	font-family: Roboto, sans-serif !important;
	background: #f7f7ff;
}
.hidden {
    display: none;
}

/* preloader style */
#preloader {
    background: #fff url(../images/loader.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Login page style */
.login_bg {
	font-family: Rubik,sans-serif;
	background: #f7f7f7 !important;
    min-height: 100vh;
    display: table;
    width: 100%;
}
.login_box {
	display: table-cell;
    vertical-align: middle;
}
.login_box .card {
	width: 40%;
	margin: auto;
	border: none;
	background: #fff;
	padding: 2.25rem !important;
    font-size: .875rem;
}
.login_box .card img {
	width: 120px;
	margin-bottom: 10px;
}
.login_box .card form, .login_box .card form input {
	font-family: Rubik,sans-serif;
	font-size: .875rem;
}
.login_box .card form .forget_password_btn label {
	cursor: pointer;
}
.login_box .card form button {
	width: 100%;
    background: linear-gradient(to right, #f28c22 0%, #f01c1f 100%);
    border: none;
    transition: 0.3s ease !important;
}
.login_box .card form button:hover {
    width: 100%;
    background: linear-gradient(to left, #f28c22 0%, #f01c1f 100%);
    border: none;
    transition: 0.3s ease !important;
}

/* admin dashboard index page */
/* sidebar style */
.wrapper .sidebar_wrapper {
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, #667eea 0%, #764ba2 100%);
	border-right: 0 solid #e4e4e4;
	z-index: 11;
	box-shadow: 0 2px 6px 0 rgb(218 218 253/65%), 0 2px 6px 0 rgb(206 206 238/54%);
	transition: all .2s ease-out;
}
.wrapper .sidebar_wrapper .simplebar_wrapper {
	margin: 0px;
}
.wrapper .sidebar_wrapper .simplebar_wrapper .simplebar-mask .simplebar-offset {
	right: 0;
	bottom: 0;
}
.wrapper .sidebar_wrapper .simplebar_wrapper .simplebar-mask .simplebar-offset .simplebar-content-wrapper {
	height: 100%;
    overflow: hidden scroll;
}
.wrapper .sidebar_wrapper .simplebar_wrapper .simplebar-mask .simplebar-offset .simplebar-content-wrapper .simplebar-content {
	padding: 0px;
}
.simplebar-content .sidebar-header {
	width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0 15px;
    z-index: 5;
    background: linear-gradient(180deg, #667eea 0%, #764ba2 100%);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(255,255,255,0.15);
}
.simplebar-content .sidebar-header img {
	width: 150px;
	background: #fff;
	padding: 4px 6px;
	border-radius: 4px;
}
.simplebar-content .sidebar-header .toggle-icon {
	font-size: 22px;
    cursor: pointer;
    color: #fff;
}
.fa-regular {
	font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: inherit;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
}
.wrapper .sidebar_wrapper .simplebar_wrapper .simplebar-placeholder {
	width: auto;
	height: 1404px;
}
.sidebar_wrapper .metismenu {
	background: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sidebar_wrapper ul {
	padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar_wrapper .metismenu>li {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar_wrapper .metismenu li:first-child {
    margin-top: 5px;
}
.sidebar_wrapper .metismenu a {
	text-decoration: none;
	position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px 15px;
    font-size: 15px;
    color: #fff;
    outline-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .5px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}
.sidebar_wrapper .metismenu a .parent-icon,
.sidebar_wrapper .metismenu a .parent-icon i {
    color: #fff;
}
.sidebar_wrapper .metismenu .mm-active>a, .sidebar_wrapper .metismenu a:active, 
.sidebar_wrapper .metismenu a:focus, .sidebar_wrapper .metismenu a:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar_wrapper .metismenu .mm-active>a .parent-icon,
.sidebar_wrapper .metismenu .mm-active>a .parent-icon i,
.sidebar_wrapper .metismenu a:hover .parent-icon,
.sidebar_wrapper .metismenu a:hover .parent-icon i {
    color: #fff;
}
.sidebar_wrapper .metismenu a .parent-icon {
    font-size: 24px;
    line-height: 1;
}
.sidebar_wrapper .metismenu a .menu-title {
	margin-left: 10px;
}
.sidebar_wrapper .metismenu li+li {
    margin-top: 5px;
}
.sidebar_wrapper .menu-label {
    padding: 20px 15px 5px 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5px;
}
.metismenu .has-arrow:after {
    position: absolute;
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-width: 1.2px 0 0 1.2px;
    border-color: #fff;
    right: 15px;
    transform: rotate(-45deg) translateY(-50%);
    transform-origin: top;
    top: 50%;
    transition: all .3s ease-out;
}
.mm-collapse {
	height: 2px;
}
.sidebar_wrapper .metismenu ul {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: rgba(255, 255, 255, 0.08) !important;
    height: 100%;
}
.sidebar_wrapper .metismenu ul a {
    padding: 6px 15px 6px 15px;
    font-size: 15px;
    border: 0;
    color: #fff;
}
.sidebar_wrapper .metismenu ul a:hover,
.sidebar_wrapper .metismenu ul a.active {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
}
.sidebar_wrapper .metismenu ul a i {
    margin-right: 10px;
    color: #fff;
}

/* topbar style */
.wrapper header .topbar {
	position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid rgb(228 228 228 / 0%);
    z-index: 10;
    -webkit-box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 0px 6px 0 rgb(206 206 238 / 54%);
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 0px 6px 0 rgb(206 206 238 / 54%);
}
.wrapper header .topbar .navbar {
    width: 100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.wrapper header .topbar .navbar .search-bar .search-bar-box {
    width: 45%;
}
.wrapper header .topbar .navbar .search-bar .search-bar-box .search-control {
    background-color: #f7f7ff;
    border: 1px solid #e9e9f6;
    padding-left: 2.5rem;
}
.wrapper header .topbar .navbar .search-show {
    font-size: 18px;
    left: 15px;
    bottom: 0px;
}
.wrapper header .topbar .navbar .search-close {
    font-size: 24px;
    right: 10px;
    cursor: pointer;
    display: none;
}
.wrapper header .topbar .navbar .user-box {
    display: flex;
    align-items: center;
    height: 60px;
    border-left: 1px solid #f0f0f0;
    margin-left: 1rem;
}
.wrapper header .topbar .navbar .user-box .user-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 0 solid #e5e5e5;
    padding: 0;
}
.user-info .user-name {
    font-size: 15px;
    font-weight: 500;
    color: #413c3c;
}
.user-info .designattion {
    font-size: 13px;
    color: #a9a8a8;
}
.dropdown-toggle::after {
	display: none;
}
.topbar .navbar .dropdown-menu {
    -webkit-animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;
    animation: .6s cubic-bezier(.25, .8, .25, 1) 0s normal forwards 1 animdropdown;
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border: 0 solid #e9ecef;
    border-radius: 10px;
    font-size: 14px;
}

/* responsive sidebar style */
.wrapper.active .sidebar_wrapper, .wrapper.active .sidebar-header {
    width: 80px;
}
.wrapper.active .sidebar-header img, .wrapper.active .sidebar_wrapper .metisMenu .menu-label, 
.wrapper.active .sidebar_wrapper .metisMenu .menu-title, 
.wrapper.active .metismenu .mm-active>.has-arrow::after, 
.wrapper.active .metismenu li>.has-arrow::after, 
.wrapper.active .metismenu .has-arrow[aria-expanded=true]::after, 
.wrapper.active .mm-collapse {
    display: none;
    transition: .2s ease-out;
}
.wrapper.active .sidebar-header .ms-auto {
    margin: auto;
}
.sidebar-header .toggle-icon i#btn {
    transition: transform 0.2s ease-out;
}
.wrapper.active .sidebar-header .toggle-icon i#btn {
    transform: rotate(180deg);
}
.wrapper.active .sidebar_wrapper:hover {
    width: 250px;
}
.wrapper.active header .topbar, .wrapper.active footer {
    left: 80px;
    width: calc(100% - 80px);
    margin-left: 0;
}
.wrapper.active .sidebar_wrapper:hover .sidebar-header {
    width: 250px;
}
.wrapper .sidebar_wrapper:hover .sidebar-header .ms-auto {
    margin-left: auto !important;
}
.wrapper .sidebar_wrapper:hover .sidebar-header img, 
.wrapper .sidebar_wrapper:hover .metisMenu .menu-label, 
.wrapper .sidebar_wrapper:hover .metisMenu .menu-title, 
.wrapper .sidebar_wrapper:hover .metismenu .mm-active>.has-arrow::after, 
.wrapper .sidebar_wrapper:hover .metismenu li>.has-arrow::after, 
.wrapper .sidebar_wrapper:hover .metismenu .has-arrow[aria-expanded=true]::after, 
.wrapper .sidebar_wrapper:hover .mm-active .mm-collapse.mm-show {
    display: block;
    transition: .2s ease-out;
}
.wrapper.active .sidebar_wrapper:hover header .topbar {
    left: 250px;
    width: calc(100% - 250px);
}
.wrapper.active .sidebar_wrapper:hover ~ .page_wrapper {
    width: calc(100% - 250px);
    margin-left: 250px;
}
.wrapper.active .sidebar_wrapper:hover footer.page-footer {
    left: 250px;
    width: calc(100% - 250px);
}
.wrapper.active .page_wrapper {
    width: calc(100% - 80px);
    margin-left: 80px;
}

/* page wrapper style */
.page_wrapper {
	height: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 250px;
}
.page_wrapper .page-content {
	padding: 1.5rem 1.5rem 0.7rem 1.5rem;
}
.page_wrapper .page-content .card {
	border-radius: 10px;
	margin-bottom: 1.5rem;
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.page_wrapper .page-content .message .wish {
    color: #7ac3e9;
    font-family: 'PT Serif', serif;
}
.page_wrapper .page-content .message p {
    margin-bottom: 0px;
}
.message-img img {
    border-radius: 0 !important;
    width: 190px !important;
}
.font-13 {
    font-size: 13px;
}
.profile-button button {
    width: 30%;
    color: #fff;
    border: none;
    border-radius: 50px;
}
.profile-button button:hover {
    color: #fff;
}
.bg-gradient-cosmic {
    background: linear-gradient(to right, #8e2de2, #4a00e0)!important;
}
.bg-gradient-ibiza {
    background: linear-gradient(to right, #ee0979, #ff6a00)!important;
    transition: .5s all ease;
}
.bg-gradient-ohhappiness {
    background: linear-gradient(to right, #00b09b, #96c93d)!important;
}
.bg-gradient-kyoto {
    background: linear-gradient(to right, #f7971e, #ffd200)!important;
}
.bg-gradient-quepal {
    background: linear-gradient(to right, #42e695, #3bb2b8)!important;
    transition: .5s all ease;
}
.bg-gradient-blooker {
    background: linear-gradient(to right, #ffdf40, #ff8359)!important;
}
.bg-gradient-bloody {
    background: linear-gradient(to right, #f54ea2, #ff7676)!important;
}
.bg-gradient-deepblue {
    background: linear-gradient(to right, #6a11cb, #2575fc)!important;
    transition: .5s all ease;
}
.profile-button .bg-gradient-deepblue:hover {
    background: linear-gradient(to left, #6a11cb 100%, #2575fc 0%)!important;
    transition: .5s all ease;
}
.profile-button .bg-gradient-quepal:hover {
    background: linear-gradient(to left, #42e695 100%, #3bb2b8 0%)!important;
    transition: .5s all ease;
}
.profile-button .bg-gradient-ibiza:hover {
    background: linear-gradient(to left, #ee0979 100%, #ff6a00 0%)!important;
    transition: .5s all ease;
}
.cursor-pointer {
    cursor: pointer;
}
.card {
}
}

/* admin dashboard style */
.chart-container-1 {
    position: relative;
    height: 260px;
}
.chartjs-size-monitor {
	position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
.chartjs-size-monitor-expand {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
.chartjs-size-monitor-shrink {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}
.chartjs-render-monitor {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
}
.text-danger {
	color: #f80759 !important;
}
#chart5 {
	display: block; 
	height: 260px; 
	width: 933px;
}
.row.row-group>div {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.row.row-group>div:last-child {
    border-right: none;
}
#chart6 {
	display: block;
	height: 260px; 
	width: 439px;
}
.product-img-2 {
    width: 45px !important;
    height: 45px !important;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}
#chart16 {
	display: block; 
	height: 260px; 
	width: 274px;
}

/* breadcrumb style */
.breadcrumb-title {
    font-size: 20px;
    border-right: 1.5px solid #aaa4a4;
}
.page-breadcrumb .breadcrumb li.breadcrumb-item i {
    font-size: 16px;
    color: #f01c1f;
}
.page-breadcrumb .breadcrumb li.breadcrumb-item {
    font-size: 16px;
}
.page-breadcrumb .breadcrumb li.breadcrumb-item a {
    text-decoration: none;
    color: #f01c1f;
}
.btn-group a {
	background: #fff;
	margin: 0 10px;
	border-radius: 5px !important;
}
.btn-group .active {
	background: #f28c22;
}
.btn-group .active i {
	color: #fff;
}
.btn-group a i, .btn-group a:hover i {
	color: #f28c22;
}
.btn-group .active:hover i {
    color: #fff;
}
.radius-15 {
    border-radius: 15px !important;
}
.card .card-body img {
	border-radius: 50%;
	width: 90px;
}
.modal-dialog.w-80 {
    max-width: 80%;
    margin: auto;
}
.button-right {
    justify-content: flex-end; 
    display: flex;
}
.button-right button {
    width: 15%;
}
.dropdown-item:hover, .dropdown-item:active {
    background-color: #f01c1f !important;
    color: #fff!important;
}
.btn-outline-purple {
	border: 1px solid #475aaf !important;
	color: #475aaf;
    border-radius: 5px !important;
}
.btn-outline-purple:hover {
	border-color: #475aaf;
	background: #475aaf;
	color: #fff;
}
.btn-outline-orangeyellow {
    border-left-color: #f28c22;
    border-top-color: #f28c22;
    border-right-color: #f01c1f;
    border-bottom-color: #f01c1f;
    color: #f01c1f;
    border-radius: 5px !important;
}
.btn-outline-orangeyellow:hover {
    background: linear-gradient(to right, #f28c22 0%, #f01c1f 100%);
    border-color: #f28c22;
    color: #fff !important;
    transition: .1s;
}
.btn-outline-orangeyellow:hover i {
    color: #fff !important;
}
.table .dropdown a i:before {
    color: #f01c1f;
}
#viewemployeeModal .table ul, #viewmanagerModal .table ul, .profile-info .table ul {
    padding: 0px;
    list-style-type: none;
    position: relative;
}
#viewemployeeModal .table ul li:before, #viewmanagerModal .table ul li:before, 
.profile-info .table ul li:before {
    background: #ddd;
    bottom: 0;
    content: "";
    left: 8px;
    position: absolute;
    top: 8px;
    width: 2px;
}
.education-user, .experience-user {
    height: 10px;
    left: 4px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    width: 10px;
}
.education-user .before-circle, .experience-user .before-circle {
    background-color: #ddd;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.education-content, .experience-content {
    margin: 0 0 0 25px;
    padding: 0;
    position: relative;
}
.table .dropdown .dropdown-menu {
    padding: 0px;
    overflow: auto;
    border: none;
    box-shadow: 0px 0px 2px -1px #000;
}
#viewemployeeModal a {
    text-decoration: none;
    color: #f01c1f;
}
.paginate_button.current {
    border: 1px solid #f01c1f !important;
    background: transparent !important;
    border-radius: 5px !important;
}
.modal-header {
    color: #f28c22;
}

/* employee payslip style */
.logo img {
    width: 80% !important;
    border-radius: 0px !important;
}
.text-right {
    text-align: right;
}
.font-14 {
    font-size: 14px;
}
.employee-details span {
    font-size: 13px;
}

/* notifications style */
.notifications-box {
    background: rgb(13 110 253 / .2);
    padding: 10px;
    border-radius: 5px;
    color: #475aaf;
}
.notifications-box i {
    margin-right: 10px;
    font-size: 20px;
}

/* employee dashbroad style */
.employee-timing-info .chart-container {
    text-align: center;
    height: 140px;
    line-height: 130px;
}
.employee-timing-info .chart-container .working-time {
    border: 3px solid #475aaf;
    color: #475aaf;
    border-radius: 50%;
    width: 50%;
    margin: auto;
}

/* profile style */
.profile-info .user-img {
    width: 150px !important;
}
#updateprofileModal .modal-body .edit-profile .fm-icon-box, 
#profile-img .edit-profile .fm-icon-box {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 150px;
    border: 4px solid #f28c22;
}
#updateprofileModal .modal-body .edit-profile .fm-icon-box img, 
#profile-img .edit-profile .fm-icon-box img {
    width: 100%;
}
#updateprofileModal .modal-body .edit-profile .fm-icon-box .profile-img, 
#profile-img .edit-profile .fm-icon-box .profile-img {
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    color: transparent;
    background: rgba(0,0,0,0.5);
    width: 100%;
    box-sizing: border-box;
    padding: 3px 120px;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
}
#updateprofileModal .modal-body .edit-profile .fm-icon-box:hover .profile-img,
#profile-img .edit-profile .fm-icon-box:hover .profile-img {
    opacity: 1;
}
#updateprofileModal .modal-body .edit-profile .fm-icon-box .profile-img::-webkit-file-upload-button,
#profile-img .edit-profile .fm-icon-box .profile-img::-webkit-file-upload-button {
    visibility: hidden;
}
#updateprofileModal .modal-body .edit-profile .fm-icon-box .profile-img::before,
#profile-img .edit-profile .fm-icon-box .profile-img::before {
    font-family: fontAwesome;
    content: '\f030';
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 100px;
    display: inline-block;
    -webkit-user-select: none;
}
#updateprofileModal .modal-body .edit-profile .fm-icon-box .profile-img::after,
#profile-img .edit-profile .fm-icon-box .profile-img::after {
    content: 'Update';
    color: #fff;
    display: block;
    top: 70px;
    font-size: 14px;
    width: 100px;
    text-align: center;
}
.w-15 {
    width: 15%;
}

/* footer style */
.page-footer {
    background: #fff;
    left: 250px;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    border-top: 1px solid #e4e4e4;
    z-index: 3;
}
.print-card {
    display: none;
}