{% load static %}
{% include "administration/header.html" %}
{% include "administration/sidebar.html" %}
{% include "administration/topbar.html" %}

        <div class="topbar d-flex align-items-center">
          <nav class="navbar navbar-expand">
            <div class="search-bar flex-grow-1">
              <div class="position-relative search-bar-box">
                <input type="text" class="form-control search-control" placeholder="Type to search...">
                <span class="position-absolute top-50 search-show translate-middle-y">
                  <i class="bx bx-search"></i>
                </span>
                <span class="position-absolute top-50 search-close translate-middle-y">
                  <i class="bx bx-x"></i>
                </span>
              </div>
            </div>
            <div class="user-box dropdown">
              <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../images/avatar-2.png" class="user-img" alt="user avatar">
                <div class="user-info ps-3">
                  <p class="user-name mb-0">Pauline Seitz</p>
                  <p class="designattion mb-0">Web Designer</p>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="#" class="dropdown-item"><i class='bx bx-log-out-circle'></i> Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="page_wrapper">
        <div class="page-content">
          <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Leaves</div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">
                    <a href="{% url 'dashboard' company_id company_staff_id %}">
                      <i class="bx bx-home"></i>
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Add Leaves Balance</li>
                </ol>
              </nav>
            </div>            
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="row mb-2">
                      <div class="col">
                        <label for="user" class="form-label">User <span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example" id="user">
                          <option selected>Select User</option>
                          <option value="abid@gmail.com">abid@gmail.com</option>
                          <option value="abid1@gmail.com">abid1@gmail.com</option>
                          <option value="saquib@gmail.com">saquib@gmail.com</option>
                          <option value="saquib1@gmail.com">saquib1@gmail.com</option>
                        </select>
                      </div>                      
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <label for="leaves" class="form-label">Leave days per year counter <span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="leaves" value="10" required>
                      </div>                      
                    </div>
                    <div class="mt-4 mb-2 button-right">
                      <button type="button" class="btn btn-outline-orangeyellow">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="page-footer">
          <p class="mb-0">Copyright © 2022. All right reserved.</p>
        </footer>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.js"></script>
    <script src="{% static 'asets/js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.extension.js' %}"></script>
    <script src="{% static 'asets/js/script.js' %}"></script>
    
  </body>
</html>