{% load static %}
{% include "administration/header.html" %}
{% include "administration/sidebar.html" %}
{% include "administration/topbar.html" %}

      <div class="page_wrapper">
        <div class="page-content">
          <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Manager</div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">
                    <a href="{% url 'index' company_id=company_id company_staff_id=company_staff_id %}">
                      <i class="bx bx-home"></i>
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Assign Employee</li>
                </ol>
              </nav>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <form method="POST" action="{% url 'assign-create' company_id=company_id company_staff_id=company_staff_id %}">
                {% csrf_token %}
                    <div class="row mb-2">
                      <div class="col">
                        <label for="employee" class="form-label">Employee <span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example" id="employee" name="employee_id">
                        <option selected>Select Employee</option>
                                  {% for i in assignedto %}
                          <option value="{{i.id}}">{{i.employee_email}}</option>
                          	{% endfor %}
                        </select>
                      </div>                      
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <label for="description" class="form-label">Description <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="description" name="description" rows="6"></textarea>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <label for="employee" class="form-label">Assigned to <span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example" id="employee" name="manager_id">
                            <option selected>Select Manager</option>
                                  {% for i in assigned %}
                          <option value="{{i.id}}">{{i.manager_email}}</option>
                          	{% endfor %}
                        </select>
                      </div>                      
                    </div>
                    <div class="mt-4 mb-2 button-right">
                      <button type="submit" class="btn btn-outline-orangeyellow">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="page-footer">
          <p class="mb-0">Copyright © 2022. All right reserved.</p>
        </footer>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.js"></script>
    <script src="{% static 'asets/js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.extension.js' %}"></script>
    <script src="{% static 'asets/js/script.js' %}"></script>
    
  </body>
</html>