{% load static %}
{% include "administration/header.html" %}
{% include "administration/sidebar.html" %}
{% include "administration/topbar.html" %}

      <div class="page_wrapper">
        <div class="page-content">
          <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Manager</div>
            <div class="ps-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                  <li class="breadcrumb-item">
                    <a href="{% url 'index' company_id=company_id company_staff_id=company_staff_id %}">
                      <i class="bx bx-home"></i>
                    </a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{% url 'mattendancee' company_id=company_id company_staff_id=company_staff_id %}">
                      Attendance List
                    </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Pending Regularization</li>
                </ol>
              </nav>
            </div>
          </div>
          <hr>
          <div class="row mt-3">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-fluid table-hover" id="myTable">
                      <thead>
                        <tr>
                          <th>User</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for regularization in regularization_list %}
                        <tr>
                          <td>{{ regularization.user }}</td>
                          <td>{{ regularization.status }}</td>
                          <td>
                            <button type="button" class="btn btn-outline-orangeyellow" data-bs-toggle="modal" data-bs-target="#viewemployeeModal" id="viewBtn" onclick="regularization_details_fetch('{{regularization.pk}}')">
                              View
                            </button>
                            <div class="modal" id="viewemployeeModal">
                              <div class="modal-dialog w-80">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">View Attendance</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <table class="table table-fluid table-bordered table-hover">
                                      <tbody>
                                        <tr>
                                          <th>Manager</th>
                                          <td id="manager_detailed_info_heading"></td>
                                        </tr>
                                         <tr>
                                          <th>Check In</th>
                                          <td id="manager_check_in_heading"></td>
                                        </tr>
                                         <tr>
                                          <th>Check Out</th>
                                          <td id="manager_check_out_heading"></td>
                                        </tr>
                                        <tr>
                                          <th>Reason</th>
                                          <td id="manager_reason_heading"></td>
                                        </tr>
                                        <tr>
                                          <th>Status</th>
                                          <td id="manager_status_heading"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <a href="{% url 'muserregularizationapprove' company_id=company_id company_staff_id=company_staff_id id=regularization.id %}" class="btn-outline-orangeyellow btn">Approve</a>
                                    <a href="{% url 'muserregularizationcancel' company_id=company_id company_staff_id=company_staff_id id=regularization.id %}" class="btn-outline-orangeyellow btn">Cancel</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>                        
                        </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="page-footer">
          <p class="mb-0">Copyright © 2022. All right reserved.</p>
        </footer>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.js"></script>
    <script src="{% static 'asets/js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.min.js' %}"></script>
    <script src="{% static 'asets/js/Chart.extension.js' %}"></script>
    <script src="{% static 'asets/js/script.js' %}"></script>

     <script>
       function regularization_details_fetch(id){


        // Ajax POST Request
        var manager_detailed_info_heading = document.getElementById("manager_detailed_info_heading");
        var manager_reason_heading = document.getElementById("manager_reason_heading");
        var manager_check_in_heading = document.getElementById("manager_check_in_heading");
        var manager_check_out_heading = document.getElementById("manager_check_out_heading");
        var manager_status_heading = document.getElementById("manager_status_heading");


        $.ajax({
                  url: '{% url "mregularizationlist" company_id=company_id company_staff_id=company_staff_id %}',
                  method: "POST",
                  processData: false,
                  contentType: 'application/json',
                  mimeType: "multipart/form-data",
                  headers: {'X-CSRFToken': "{{csrf_token}}", "Content-Type":"application/json"},
                  data: JSON.stringify({'id': id}),
                  dataType: "json",
                  success: function(res){

                  user = res['user'];
                  reason = res['reason'];
                  check_in = res['check_in'];
                  check_out = res['check_out'];
                  status = res['status'];


                  manager_detailed_info_heading.textContent = user;
                  manager_reason_heading.textContent = reason;
                  manager_check_in_heading.textContent = check_in;
                  manager_check_out_heading.textContent = check_out;
                  manager_status_heading.textContent = status;


                },
                error: function(xhr, status, error){
                  console.log(error);
                  console.log(status);
                  console.log(xhr);
                }
        })
      }
    </script>
    
  </body>
</html>