<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Name</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <script src="{% static 'assets/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <style>
        img{
            width:100%;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
   <div class="container-fluid">
        <div class="row">


        </div>
        </div>
        {% block myblock %}

        {% endblock %}



</body>
</html>